@media screen and (max-width: 576px) {

  .text span{
    display: none;

  }
  header nav{
    display: none;
  }
  .btn-group{
    display: none;
  }

  .home-content{
    flex-direction: column-reverse;
  }
  .home-content .img-content img{
   width: 70vw;
  }
  .home-content .info{
    font-size: 50vh;

  }

  .about-card{
    flex-direction: column;
  }

  .facilities-card .card-1{
    display: none;
   
  }
  footer{
    flex-direction: column;
    height: 100%;
  }
  .facilities-card  .card-2{
   grid-template-columns: repeat(1fr 1fr);

   

  }
  .card-2 .card{
    
gap: none;
  }
  .facilities-card .card-2{
    gap: none;
    margin-right: none ;
  }

}